:root {
    --pagewidth: 64rem;
    --videoratio: 0.6;
}

a {
    text-decoration: none;
    color: black;
}

#page {
    font-family:Arial,Helvetica,sans-serif;
    position: absolute;
    width: var(--pagewidth);
    left: 50%;
    margin-left: calc(-0.5 * var(--pagewidth));
}

#video {
    position: relative;
    background: rgb(35, 35, 35);
    /* top: 50%; */
    width: var(--pagewidth);
}

#videocrop {
    width: var(--pagewidth);
    /* height: calc(var(--videoratio) * var(--pagewidth)); */
    overflow: hidden;
}

#play {
    --radius: 30px;
    position: absolute;
    left: 50%;
    width: calc(2 * var(--radius));
    height: calc(2 * var(--radius));
    margin-top: calc(-1 * var(--radius));
    margin-left: calc(-1 * var(--radius));
    border-radius: var(--radius);
    font-size: calc(0.8333 * var(--radius));
    line-height: calc(2.2 * var(--radius));
    background: rgba(255, 255, 255, 0.1);
    vertical-align: middle;
    text-align: center;
    color: white;
    border: none;
}

#prog {
    position: relative;
    height: 0.2rem;
    background: gray;
    border-radius: 0.1rem;
}

#choices {
    position: absolute;
    table-layout: fixed;
    width: calc(0.8 * var(--pagewidth));
    margin: 0 calc(0.1 * var(--pagewidth));
}

.choice {
    background: white;
    border-radius: 0.4rem;
    padding: 1rem calc(0.05 * var(--pagewidth));
    opacity: 0.5;
    text-align: center;
}

.title {
    --height: 4rem;
    line-height: var(--height);
    position: absolute;
    left: 50%;
    width: var(--pagewidth);
    margin-top: calc(-1 * var(--height));
    margin-left: calc(-0.5 * var(--pagewidth));
    font-size: calc(0.8 * var(--height));
    text-align: center;
    background: none;
    color: white;
}
